    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>Hi. My name is Kesavan Kushalnagar.</p>
                <p>I research accessibilty and machine learning.</p>
                <p>Completed 50+ online courses from <a href="https://www.coursera.org/account/accomplishments/verify/EACAMV8H2CBD">JHU's Data Science</a> to <a href="https://www.edx.org/course/japanese-business-management-0">Japanese Business Management</a>Waseda's Japanese Business Management.</p>
                <p>I enjoy parkour, Yu-Gi-Oh, and manga.</p>
                <br/>
              </div>
        </div>
    </section>
